<div class="list-group list-group-flush">
    {% for article in articles %}
        <a class="list-group-item" href="{{ path('app_article_index', {'id': article.id}) }}">
                {{ article.title }}
        </a>
    {% else %}
            <p>Auncun article.</p>
    {% endfor %}
</div>